<dom-module id="iron-list-cards">
	<template>
	    <style include="site-styles"></style>
	    <style>
		    app-header {
		      position: fixed;
		      top: 0;
		      left: 0;
		      right: 0;
		      z-index: 1;
		      background-color: #0b8043;
		      color: white;
		      --app-header-background-front-layer: {
		        background-color: #4285f4;
		      };
		    }
		    app-header paper-icon-button {
		      --paper-icon-button-ink-color: white;
		    }
		    [main-title] {
		      font-weight: 400;
		      margin: 0 0 0 50px;
		    }
		    [condensed-title] {
		      font-size: 18px;
		      font-weight: 400;
		      margin-left: 30px;
		    }
		    [condensed-title] i {
		      font-style: normal;
		      font-weight: 100;
		    }
		    app-toolbar.tall {
		      height: 148px;
		    }
		    iron-list {
		      padding-top: 148px;
		      margin-top: 64px;
		      padding-bottom: 16px;
		    }
		    .item {
		      @apply(--layout-horizontal);
		      padding: 20px;
		      border-radius: 8px;
		      background-color: white;
		      border: 1px solid #ddd;
		      max-width: 800px;
		      margin: 16px auto 0 auto;
		    }
		    .item:focus {
		      outline: 0;
		      border-color: #333;
		    }
		    .avatar {
		      height: 40px;
		      width: 40px;
		      border-radius: 20px;
		      box-sizing: border-box;
		      background-color: #DDD;
		    }
		    .pad {
		      padding: 0 16px;
		      @apply(--layout-flex);
		      @apply(--layout-vertical);
		    }
		    .primary {
		      font-size: 16px;
		      font-weight: bold;
		    }
		    .secondary {
		      font-size: 14px;
		    }
		    .dim {
		      color: gray;
		    }
		    .spacer {
		      @apply(--layout-flex);
		    }
		</style>
	  
		<app-header condenses fixed effects="resize-title blend-background waterfall">
		  <app-toolbar>
		    <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
		    <h4 condensed-title>iron-list <i>&mdash; Demo <span>[[numItemLabel]]</span></i></h4>
		    <paper-icon-button icon="search" on-tap="onSearch"></paper-icon-button>
		  </app-toolbar>
		  <app-toolbar class="tall">
		    <h1 main-title>iron-list <span>[[numItemLabel]]</span></h1>
		  </app-toolbar>
		</app-header>
		
		<iron-list id="list" as="item" scroll-target="html">
		  <template>
		    <div on-tap="onItemTap">
		      <div class="item" tabindex$="[[tabIndex]]">
		        <iron-image class="avatar" sizing="contain" src="[[item.image]]"></iron-image>
		        <div class="pad">
		          <div class="primary">[[item.name]] [[index]]</div>
		          <div class="secondary">[[item.shortText]]</div>
		          <div class="secondary dim">[[item.longText]]</div>
		        </div>
		      </div>
		    </div>
		  </template>
		</iron-list>
	</template>

   <script>
      Polymer({
         is : 'iron-list-cards',
         created: function() { 
             if (window.customDomModules && window.customDomModules[this.is]) {
                window.customDomModules[this.is].domModuleCreated(this);              
             }
          }
      });
   </script>
   
</dom-module>
